RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /01.PROJETOSWEB/PHP/13-PHP_Super_Avancado/03-EstruturaMVC_Index_ReWrite/index.php?url=$1 [QSA,L]

